{% load static %}

<div class="modal fade" id="modalAboutFlower" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 900px; height: 500px">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Подробнее о цветах</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-2 container">
                    <div class="row">
                        <div class="col-md-7"><img id="ab_image" width="400" height="400"></div>
                        <div class="col-md-5 ">
                            <span class="text_row4" id="ab_title"></span>
                            <p id="ab_desc"></p>
                            Цена <span id="ab_price"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
