{% extends 'flower_market/base.html' %}

{% block content %}

    <div class='nodetype-page'><h1 style='margin-bottom:5px'>Курьерская доставка цветов в г. Алматы </h1>
            <p>Мы заботимся о том, чтобы нашим клиентам  было удобно и очень просто заказывать у нас цветы для своих родных и близких людей. Наши курьеры доставят цветы по всему городу 24 часа в сутки, 7 дней в неделю, на самых выгодных условиях и максимально быстро, чтобы порадовать вас и тех, кто вам дорог, ароматом свежих и очень красивых цветов.</p>
            <p>Информация по курьерской доставке в <b>г. Алматы</b> (Алматинская область, Казахстан):</p>
            <ul>
                <li>Доставка цветов с 8:00 до 22:00 по г. Алматы — <b> бесплатно</b> *;</li>
                <li>Доставка в ночное время (с 22:00 до 8:00) по г. Москва — <span> <span class="uc-price" >700</span><span class="rur"> KZT </span> </span></li>
                        </ul>
            <p><span>* Стоимость доставки в <a class='district_link' style='text-decoration: none; cursor: pointer; border-bottom: 1px dashed; display: inline-block;'>отдаленные районы</a> или за пределы города уточняйте у оператора.</span><br /></p>
            <p>Как только вы оплатите заказ, мы передадим его в цветочный салон вашего города. Профессиональный флорист подберёт свежие цветы и составит композицию. Курьер доставит букет адресату в течение трёх часов с момента оплаты, или в другое указанное вами время.</p>
            <p>Доставка в день оформления заказа производится, если заказ был создан до 18.00 по местному времени выполнения заказа, если иное не указано в карточке товара или при оформлении заказа.</p>

    </div>

{% endblock %}
