{% extends 'flower_market/base.html' %}

{% load static %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <center><h1 class="text_cont3"> Наши букеты</h1></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="picture" width="300" height="300" src="{% static "/" %}images/снимок3.JPG"
                         alt="Рубиновое сияние"
                         data-was-processed="true">
                    <div class="text_row3"><p>5000 KZT </p></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="buy-button btn btn-sm btn-outline-secondary"
                                    id="flower0" name="Рубиновое сияние" image="{% static "/" %}images/снимок3.JPG"
                                    price="5000"
                                    data-toggle="modal" data-target="#modalCardList">Купить
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="picture" width="300" height="300" src="{% static "/" %}images/снимок.JPG"
                         alt="Рубиновое сияние1"
                         data-was-processed="true">
                    <div class="text_row3"><p>5000 KZT </p></div>
                    <div class="btn-group">
                        <button type="button" class="buy-button btn btn-sm btn-outline-secondary"
                                id="flower1" name="Рубиновое сияние1" image="{% static "/" %}images/снимок.JPG"
                                price="5000"
                                data-toggle="modal" data-target="#modalCardList">Купить
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="picture" width="300" height="300" src="{% static "/" %}images/снимок2.JPG"
                         alt="Рубиновое сияние"
                         data-was-processed="true">
                    <div class="text_row3"><p>9000 KZT </p></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="buy-button btn btn-sm btn-outline-secondary"
                                    id="flower2" name="Рубиновое сияние2" image="{% static "/" %}images/снимок2.JPG"
                                    price="9000"
                                    data-toggle="modal" data-target="#modalCardList">Купить
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="picture" width="300" height="300" src="{% static "/" %}images/снимок4.JPG"
                         alt="Рубиновое сияние"
                         data-was-processed="true">
                    <div class="text_row3"><p>7000 KZT </p></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="buy-button btn btn-sm btn-outline-secondary"
                                    id="flower3" name="Рубиновое сияние3" image="{% static "/" %}images/снимок4.JPG"
                                    price="7000"
                                    data-toggle="modal" data-target="#modalCardList">Купить
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="picture" width="300" height="300" src="{% static "/" %}images/снимок5.JPG"
                         alt="Рубиновое сияние"
                         data-was-processed="true">
                    <div class="text_row3"><p>8000 KZT </p></div>
                    <div class="btn-group">
                        <button type="button" class="buy-button btn btn-sm btn-outline-secondary"
                                id="flower4" name="Рубиновое сияние4" image="{% static "/" %}images/снимок5.JPG"
                                price="8000"
                                data-toggle="modal" data-target="#modalCardList">Купить
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="picture" width="300" height="300" src="{% static "/" %}images/снимок6.JPG"
                         alt="Рубиновое сияние"
                         data-was-processed="true">
                    <div class="text_row3"><p>7000 KZT </p></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="buy-button btn btn-sm btn-outline-secondary"
                                    id="flower5" name="Рубиновое сияние5" image="{% static "/" %}images/снимок6.JPG"
                                    price="7000"
                                    data-toggle="modal" data-target="#modalCardList">Купить
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="picture" width="300" height="300" src="{% static "/" %}images/снимок7.JPG"
                         alt="Рубиновое сияние"
                         data-was-processed="true">
                    <div class="text_row3"><p>8000 KZT </p></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="buy-button btn btn-sm btn-outline-secondary"
                                    id="flower6" name="Рубиновое сияние6" image="{% static "/" %}images/снимок.JPG"
                                    price="8000"
                                    data-toggle="modal" data-target="#modalCardList">Купить
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="picture" width="300" height="300" src="{% static "/" %}images/снимок8.JPG"
                         alt="Рубиновое сияние"
                         data-was-processed="true">
                    <div class="text_row3"><p>10000 KZT </p></div>
                    <div class="btn-group">
                        <button type="button" class="buy-button btn btn-sm btn-outline-secondary"
                                id="flower7" name="Рубиновое сияние7" image="{% static "/" %}images/снимок8.JPG"
                                price="10000"
                                data-toggle="modal" data-target="#modalCardList">Купить
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="picture" width="300" height="300" src="{% static "/" %}images/снимок9.JPG"
                         alt="Рубиновое сияние"
                         data-was-processed="true">
                    <div class="text_row3"><p>15000 KZT </p></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="buy-button btn btn-sm btn-outline-secondary"
                                    id="flower8" name="Рубиновое сияние8" image="{% static "/" %}images/снимок9.JPG"
                                    price="15000"
                                    data-toggle="modal" data-target="#modalCardList">Купить
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}