{% extends 'flower_market/base.html' %}

{% load static %}

{% block resources %}
    <link rel="stylesheet" type="text/css" href="{% static "/" %}css/about.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="category-wrap">
                    <ul>
                        <li><a href="{% url 'about' %}">О магазине</a></li>
                        <li><a href="{% url 'delivery' %}">Доставка</a></li>
                        <li><a href="{% url 'how_to_pay' %}">Оплата</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-9">
                <div class="oplata">
                    <h1>Оплата</h1>
                    <div style="clear: both;">
                        <div class="oplata-row">
                            <div class="oplata-title"><b>1. Наличными при доставке </b></div>
                            <img src="{% static '/' %}images/333.jpg" class="oplata-rows">
                        </div>
                        <div class="oplata-row">
                            <div class="oplata-title"><b>2. Переводом на карту Kaspi bank </b></div>
                            <div>
                                <img src="{% static '/' %}images/карта4.png" class="oplata-rows">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}